---
import Layout from "@/layouts/Layout.astro"
import Presentations from "@/sections/Presentations.astro"
import Principal from "@/sections/Principal.astro"
import Projects from "@/sections/Projects.astro"

---

<Layout title="8 nortes">
	<main>
		<Principal />
		<Projects />
		<Presentations />
	</main>
</Layout>

<style>

</style>
