---
import Layout from "@/layouts/Layout.astro"
import Presentations from "@/sections/Presentations.astro"
import Principal from "@/sections/Principal.astro"
import Projects from "@/sections/Projects.astro"
import NavBar from "@/components/NavBar.astro"
import ButtonInstagram from "@/components/ButtonInstagram.astro"
---

<Layout title="8 nortes">
	<NavBar />
	<ButtonInstagram />
	<main>
		<Principal id="principal"/>
		<Projects id="proyectos"/>
		<Presentations id="presentaciones"/>
	</main>
</Layout>

<style>
	main {
		padding: 0 1.5rem;
	}
</style>