---
import ButtonInstagram from "@/components/ButtonInstagram.astro";
import Footer from "@/components/footer.astro";
import Layout from "@/layouts/Layout.astro";
import AllProjects from "@/components/AllProjects.astro"
---

<Layout title="8 nortes" >
  <ButtonInstagram />
  <main>
    <AllProjects />
  </main>
  <footer>
		<Footer />
	</footer>
</Layout>