---

---

<a href="#">
  Leer más
</a>

<style>
  a {
    font-family: var(--font-secondary);

    background-color: white;
    color: black;

    width: 13rem;
    
    padding: 5px 10px;

    font-size: 1.5em;

    transform: rotate(-5deg);
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    text-align: center;
    text-decoration: none;

    border-radius: 5px;
    border: solid 1px black;
    box-shadow: 0 2px 0 #494a4b;
  
    &:active {
      transform: translateY(5px);
    }
  }
</style>