---
import { Navbar } from 'astro-bootstrap'
import type { NavbarItemType } from "astro-bootstrap"

	const items: NavbarItemType[] =  [
		{ text: "8 nortes" , href: "#principal" },
		{ text: "Proyectos" , href: "#proyectos" },
		{ text: "Presentaciones" , href: "#presentaciones" }
	]
---

<Navbar class="navbar navbar-expand-lg bg-transparent position-fixed">
  <div class="items d-flex justify-content-center align-items-center">
    <Navbar.Items {items} class="gap-5" />
  </div>
</Navbar>

<style>
  .navbar {
		font-family: var(--font-secondary);
		z-index: 100;

		width: 100%;
		height: 5.5rem;

		backdrop-filter: blur(1.5px);
		border-bottom: 1px solid #595959;

		flex-wrap: nowrap;
	}
	.items {
		background-color: #ffffff25;

		width: 100%;
		height: inherit;

		font-size: 1.5em;
		font-weight: bold;
	}


	@media (width <= 1000px) {
		.navbar{
			display: none;
		}
	}
</style>