---
const { id } = Astro.props

import GridPresentations from "@/components/GridPresentations.astro";
---

<section id={id}>
  <div>
    <h3>Presentaciones</h3>
    <GridPresentations />
  </div>
</section>

<style>
  section {
    width: 100%;
    height: 100dvh;
  }
  div {
    width: inherit;
    height: inherit;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3 {
      font-size: 3.5em;
      padding-top: 5rem;
      margin-bottom: 2rem;
    }
  }
</style>
