---
const { id } = Astro.props

import GridPresentations from "@/components/GridPresentations.astro";
---

<section id={id}>
  <div>
    <h3>Presentaciones</h3>
    <GridPresentations />
  </div>
</section>

<style>
  section {
    margin-top: 6.25rem;
    margin-bottom: 5rem;

    width: 100%;
    height: auto;
  }
  div {
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
      font-size: 3.5em;
      margin-bottom: 2rem;
    }
  }
</style>
