---
import { Navbar } from 'astro-bootstrap'

import ButtonAboutWe from '@/components/ButtonAboutWe.astro'
---

<header>
  <nav></nav>
</header>

<section>
  <div class="text">
    <h1>8 nortes</h1>
    <h2>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis nemo excepturi ab explicabo eligendi exercitationem consequuntur fugiat ducimus voluptatem aliquid, reprehenderit optio. Quibusdam illum earum, sapiente libero exercitationem et vitae.
    </h2>
    <ButtonAboutWe />
  </div>
  <div class="logo">
    <img src="./logo.webp" alt="Logo8nortes">
  </div>
</section>

<style>
  img {
    width: 30rem;
    filter: drop-shadow(10px 10px 5px #54545435);
  }

  section {
    width: 100%;
    height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 5rem;
    
    .text {
      width: 50rem;

      display: flex;
      flex-direction: column;
      
      text-wrap: balance;
      h1 {
        font-size: 5em;
        margin-bottom: 0.5rem;

      }
      h2 {
        font-size: 2em;
        margin-bottom: 2.5rem;
      }
    }
    .logo {
      display: flex;
      flex-direction: column;
    }
  }
</style>

