---
import { Navbar } from 'astro-bootstrap'

import ButtonAboutWe from '@/components/ButtonAboutWe.astro'
---

<header>
  <nav></nav>
</header>

<section>
  <div class="text">
    <h1>8 nortes</h1>
    <h2>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis nemo excepturi ab explicabo eligendi exercitationem consequuntur fugiat ducimus voluptatem aliquid, reprehenderit optio. Quibusdam illum earum, sapiente libero exercitationem et vitae.
    </h2>
    <ButtonAboutWe />
  </div>
  <div class="logo">
    <img src="./logo.webp" alt="">
  </div>
</section>

<style>
  img {
    width: 10rem;
  }
</style>

