---
const { id } = Astro.props

import ButtonHaciendoPueblo from '@/components/ButtonHaciendoPueblo.astro'
---

<section id={id}>
  <div class="text">
    <h1>8 nortes</h1>
    <h2>
      Es un <b>colectivo transdiciplinario</b> principalmente enfocado en la gestión cultural de proyectos visuales/sonoros <b>por el barrio y para el barrio</b>. Se situa en el lado <b>norte de la ciudad de Lima</b> y actualmente se encuentra desarrollando proyectos en articulación <b>con la casa cultural</b>
    </h2>
    <ButtonHaciendoPueblo />
    
  </div>
  <div class="logo">
    <img src="./logo.webp" alt="Logo8nortes">
  </div>
</section>

<style>
  img {
    width: clamp(15rem , 30vw, 35rem);
    filter: drop-shadow(10px 10px 5px #54545435);
  }

  section {
    width: 100%;
    height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 1rem;
    
    .text {
      width: clamp(18rem, 50vw, 50rem);
        
      display: flex;
      flex-direction: column;
      
      text-wrap: balance;
      
      h1 {
        font-size: 6em;
      }
      h2 {
        font-size: 2em;
        font-size: clamp(1.2em, 4vw, 2em);
        line-height: 2.5rem;
        margin-bottom: 1.5rem;
      }
    }
  }

  @media (width <= 1000px) {
    section {
      height: auto;
      flex-direction: column-reverse;
    }
    .text {
      text-align: center;
      align-items: center;
    }
  }
  @media (width <= 800px) {
    section {
      padding-top: 5%;
    }
    img {
      width: 20rem;
    }
    h1 {
      font-size: 4.5em !important;
    }
    h2 {
      width: 45rem;
    }
  }
  
  @media (width <= 500px) {
    section {
      padding-top: 10%;
    }

    img {
      width: 15rem;
    }
    h1 {
      display: none;
    }
    h2 {
      width: 18rem;
      line-height: 1.7rem !important;
      text-wrap: pretty;
    }
  }
</style>

