---
import Gallery from "@/components/Gallery.astro";
import ButtonMore from "@/components/ButtonMore.astro"
---

<section>
  <div>
    <h3>Fotos/Proyectos</h3>
    <Gallery />
    <ButtonMore />
  </div>

</section>