---
interface Props {
	title: string;
}

const { title } = Astro.props;

import '../styles/reset.css';

//https://fontsource.org/fonts/coming-soon
import '@fontsource/coming-soon';
//https://fontsource.org/fonts/opendyslexic/install
import '@fontsource/opendyslexic';

import 'bootstrap/dist/css/bootstrap.css'
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="8nortes" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/logo.webp" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--font-primary: 'Coming Soon', cursive;
		--font-secondary: 'OpenDyslexic', sans-serif;;
	}
	html, body {
		font-family: var(--font-primary), system-ui, sans-serif;
	}

	body {
		background-color: white;
	background-image:  linear-gradient(#b8b8b888 1px, transparent 1px), linear-gradient(to right, #b8b8b888 1px, #ffffff 1px);
	background-size: 20px 20px;


		width: 100%;
		height: auto;
	}
</style>
